ul li b{
    color: blue;
}
ul li{
    margin: 35px 0 35px 0;
}
ul{
    border: 2px solid palegreen;
    list-style: none;
    
}
h1{
    color: green;
}
h2{
    color: brown;
}
.input{
    width: 200px;
    height: 30px;
    border: 1px solid blueviolet;
    border-radius: 50px;
}
.input:active{
        background-color: aquamarine;
}